.social-icons a {
    font-size: 1.5rem;
    transition: color 0.3s;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.social-icons a:hover {
    color: #f1c40f;
}
#bbu{
    margin-right: 20px;
}
button{
    margin-right: 20px;
}
#conn{
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.bg-dark-purple {
    background-color: #341a4b;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

header .text-center p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Section services */
.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;

}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.contener h1, .contener p {
    text-align: justify;
}